@model List<Product>

<div class="d-flex position-relative">
    <div class="nav-wrapper d-flex align-items-center justify-content-center position-sticky top-0">
        <nav class="mynav d-flex flex-column align-items-center justify-content-lg-evenly">
            <img class="link" width="20px" src="~/7.png" />
            <img class="link" src="~/11.png" width="20px" />
            <img class="link" src="~/12.png" width="20px" />
            <img class="link" width="20px" src="~/9.png" />
            <img class="link" width="20px" src="~/6.png" />
            <img class="link" width="20px" src="~/10.png" />
        </nav>
    </div>
    <div class="container d-content p-5">

        <a  asp-action="Auth" asp-controller="Product"> test</a>
        <div class="d-flex flex-wrap justify-content-center m-0 content">
            @foreach (var item in Model)
            {
                <div class=" column  mb-5">
                    <div>
                        <figure class="figure">
                            <img src="@item.Image" class="prod-img"/>
                        </figure>
                        <div class="p-3 ">
                            <h3>@item.Name</h3>
                            <p class="description">@item.Description</p>
                            <p class="Price">@item.Price$</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div><a href="#" class="btn btn-primary">View Product</a></div>
                                <i class="fa-solid fa-cart-shopping fa-lg svg" style="cursor:pointer"></i>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
