@model Product

<div class="d-flex position-relative">
    @Html.Partial("~/Views/Home/Nav.cshtml")
    <div class="p-4 w-100 vh-100">
        <div class="product-wrapper p-4 bg-white d-flex h-100">
            <div class="w-50 d-flex align-items-center justify-content-center">
                <figure class="product-figure m-0 d-flex align-items-center">
                    <img src="@Model.ImageUrl" style="max-height: 100%; max-width: 100%"/>
                </figure>
            </div>
            <div class="p-3 d-flex flex-column justify-content-center w-50">
                <h2 style="font-size: 45px; color: #444;">@Model.Title</h2>
            <div>
                <p>@Model.MaxDescription</p>
            </div>
            <p class="prod-price">$@Model.Price</p>
            <div>
                <button class="bg-primary p-2">Add to Cart</button>
            </div>
        </div>
        </div>
    </div>
</div>