@{
    ViewData["Title"] = "Home Page";
}
<div class="d-main">
    <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
        <a class="navbar-brand" href="#">Peyman Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            </ul>
            <div class="d-flex">
                    <button class="btn bg-info btn-outline-info my-2 my-sm-0">Login</button>
                    <button class="btn btn-outline-success my-2 my-sm-0">Sign up</button>
            </div>
        </div>
    </nav>


    <div mt-5>
        <p mt-5>test1</p>
        <a asp-action="SignUp" asp-controller="Home">signUptest</a>
    </div>
</div>





