
<div class="nav-wrapper d-flex align-items-center justify-content-center position-sticky top-0">
    <nav class="mynav d-flex flex-column align-items-center justify-content-lg-evenly">
        <div onclick="location.href='@Url.Action("Index", "Home")'">
            <img class="link" width="20px" src="~/7.png" />
        </div>
        <div>
            <img class="link" src="~/11.png" width="20px" />
        </div>
        <div>
            <img class="link" src="~/12.png" width="20px" />
        </div>
        <div onclick="location.href='@Url.Action("Basket", "Home")'">
            <img class="link" width="20px" src="~/9.png" />
        </div>
        <div>
            <img class="link" width="20px" src="~/6.png" />
        </div>
        <div onclick="location.href='@Url.Action("LogOut", "Home")'">
            <img class="link" width="20px" src="~/13.png" />
        </div>
        <div onclick="location.href='@Url.Action("Index", "SignIn")'">
            <img class="link" width="20px" src="~/10.png" />
        </div>
    </nav>
</div>